{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./src",
                    "@assets": "./src/assets",
                    "@components": "./src/components",
                    "@hooks": "./src/hooks",
                    "@services": "./src/services",
                    "@store": "./src/store",
                    "@types": "./src/types",
                    "@utils": "./src/utils",
                    "@views": "./src/views",
                    "@styles": "./src/styles"
                }
            }
        ]
    ]
}
